body {
    margin: 0;
    font-family: sans-serif;
    max-height: 100%;
    height:100%;
 }
html {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
 }

#main {
    width: 100%;
    max-height: 100%;
    height: 100%;
 }

/*----------------------------header-----------------------*/

#header {
    width: 100%;
    display: flex;
    border-bottom: solid 1px #e5e5e5;
 }
#header-menu-left, #header-menu-right {
    display:flex;
    width: 100%;
    list-style: none;
    margin: 20px;
    padding: 0 20px;
 }
#header-menu-right {
    justify-content: flex-end;
 }
.header-menu-point {
    display: flex;
    flex-wrap: wrap;
    padding: 11px;
    width: max-content;
    color: #59a4c1;
    cursor: pointer;
 }


.plus {
    float: right;
    width: 18px;
    height: 18px;
    border: 1px solid #59a4c1;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    margin-left: 6px;
 }
/*--------------------header--------------------------*/





#content {
    display: flex;
    width: 100%;
    height: calc(100% - 9.25%);
    max-height: 100%;
 }

/*------------------main-content------------------------*/

#main-content {
    width:100%;
    padding: 0;
    height: 100%;
    max-height: 100%;
    min-width: 500px;
    margin-top: 30px;
    margin-left: 42px;
    margin-right: 80px;


 }

#main-head-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    padding: 0;
    margin:0;
    flex-wrap: wrap;
 }

#main-head{
    display:flex;
    width: 100%;
    min-width: 25%;
    flex-wrap: wrap;
 }

#main-head-header {
    width: 30%;
    padding: 0;
    margin: 0;
 }


.main-header-menu-item {
    display: flex;
    padding-right: 30px;
    width: max-content;
    color: #59a4c1;
    cursor: pointer;
 }

.square {
    height: 15px;
    width: 15px;
    margin-right: 8px ;
    background:#daedfc;
 }

#main-head-nav {
    display: flex;
    list-style: none;
    padding-bottom: 15px;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 30px;
    border-bottom: solid 1px #e5e5e5;
 }


.main-head-nav-item {
    padding-right: 30px;
    color: #59a4c1;
    cursor: pointer;
 }

/*------------------------------------------main-content---------------------------*/


/*-----------------------------------------aside-content---------------------------*/

#aside-content {
    max-height: 100%;
    width: 30%;
    background: #f5f5f5;
    /*overflow: auto;*/
    height: 100%;
 }


#aside-activity-list {
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 25%;
    min-height: 400px;

 }

#activity-list {
    max-height: calc(100% - 120px);
    width: 100%;
    overflow: auto;
    list-style: none;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
 }

#activity-title {
    margin-top: 30px;
    margin-left: 20px;
 }

.square-gray {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 8px ;
    background:#7d7d7d;
    align-self:center;
 }

.activity-list-items {
    width: calc(100% - 20px - 30px);
    display:flex;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 40px;
 }

.activity-title-text {
    padding: 0;
    margin: 0;
 }

.activity-time {
    font-size: 12px;
    color: #b3b3b3;
    padding:0;
    margin: 0;
 }

.activity-description {
    padding: 0;
    margin: 0;
 }

.activity {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

#models-list {
    background: white;
    min-height: 40%;
    max-height: calc(100% - 190px);
    overflow: auto;
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 0;
    padding-bottom: 50px;
 }



.models-list-item {
    position: relative;
    padding: 10px 10px 15px 15px;
    width: 140px;
    height: 160px;
    margin-right: 42px;
    margin-top: 40px;
    box-shadow: 0 0 0 1px #e5e5e5 inset;
 }

.models-list-item::before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 18px 18px 0;
    border-style:solid;
    border-color:#e5e5e5 white;
    background: white;
 }






