body {
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 1219px;
    font-family: sans-serif;
    background: #f0f4f7;
}

main {
    width: 100%;
    height: 100%;
    max-height: 1219px;
    min-width: 600px;
}


/*--------------header--------------*/

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8%;
    padding: 15px;
    align-items: center;
    background: #ffffff;
    flex-wrap: wrap;

}

#header-nav-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap:wrap
}

.header-nav-menu-item {
    padding-right: 90px;
    color: #777777;
    cursor: pointer;
}

#portfolio-help {
    padding: 0;
    margin: 0;
    cursor: pointer;
 }

#logo {
    padding: 0;
    margin: 0;
    color: #638194
}

#logo-child {
    padding: 0;
    margin: 0;
    color: #b1cce5
}

#language-choose {
    display: flex;
    margin-right: 15px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#header-right-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin: 0;

}

.header-right-menu-point {
    width: max-content;
    padding-left: 32px;
    color: #777777;
}

#lang {
    margin: 0;

}

.lang-choose {
    padding-right: 5px;
}

#page-settings {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#mail {
    font-size: 14px ;
    font-weight: bold;
    color: #acc1d3;
    padding: 0;
    margin: 0;

}
/*-------------------------main--------------------*/


#main-content {
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 92%;
    min-width: 600px;
    width: 100%;
    background: #f0f4f7;
}

#content {
    display:flex;
    flex-direction: column;
    width: 93%;
    align-items: flex-start;
    justify-content: center;
}

#content-header-form{
    width: 100%
}

#content-title {
    color: #677380
}

#header-form {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    padding: 0;
}

.header-form-item {
    cursor: pointer;
    margin-right: 30px;
    width: 15%;
    background: #f0f4f7;
}

#content-background {
    width:100%;
    min-width: 800px;
    background: #ffffff;
    padding:0;
    display: flex;
    flex-direction: column;
}


#main-table-head-container {
    width: 100%;
    min-width: 600px;
}

#main-table-head, .main-table-content {
    width: 40%;
    min-width: 600px;
}

#main-table-head-right, .main-table-content-right {
    width: 40%
}

.head-table-content {
    width: 100%;
}

.description-head {
    margin-left: 30px;
    width: 100%;
}

#main-table-head-container {
    padding: 20px;
    border-bottom: solid 1px #dedede;
}
.main-table-content-container {
    padding: 20px 20px 20px 20px;
}

.table-item {
    width: 30%;
    text-align: center;
}

.description-head {
    text-align: left;
}

.files-content, .files-head {
    width: 10%;
}

.head-item {
    font-weight: bold;
}

.content-item, .description-content, .icon {
    color: #777777;
    cursor: pointer;
}

.description-content{
    width:100%
}

.icon {
    font-size: 25px;
}

.green {
    color: #43d685
}

.change-bg {
    background: #f0f4f7;
}


.edit-table-content {
    width: 100%;
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 40px;
}

.edit-title {
    color: #777777;
}

.edit-table-forms {
    width: 100%;
}

.right-form, .center-form {
    width: 30%
}

.right-form{
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.left-form {
    width: 40%
}

.half-form {
    width: 40%;
}

.full-form {
    width: 80%;
}

.form-block {
    margin-top: 15px;

}

.form-role {
    color: #777777;
    font-weight: bold;
}

.upload-file {
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
}

.upload-file-area {
    width: 100%;
    height: 100px;
    background: #e1e1e1;
    border: dashed 4px #c7c7c7;
    border-radius: 15px;
}

.send-buttons {
    width: 100%;
    margin-top: 40px;
}

.cancel, .save {
    background: white;
    color: #777777;
    border: solid 1px #777777;
    width: 30%
}

.cancel:hover, .save:hover {
    background: #37c8b1;
}

.right-title {
    padding: 0;
    color: #777777;
    margin-bottom: 20px;
}

.entries-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #777777;
}

#reports{
    top:85px;
    right: 0;
    background: #c1d0dd;
    width: 130px;
    height: 60px;
    cursor: pointer;

}




















